@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Young+Serif&display=swap');

:root{
    --primary-color:#ebed9fb1;
    --primary-color-dark:#d2bb3cc3;
    --secondary-color:#2886bdd2;
    --blue:#69e8ddd8;
}

*{
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:linear-gradient(to right,var(--primary-color-dark),var(--primary-color));
}

.box{
    position: relative;
    width: 450px;
    height: 550px;
    border-radius: 30px;
    background:linear-gradient(to right,var(--secondary-color),var(--blue)) ;
    padding: 30px 50px;
    box-shadow: 25px 25px 75px rgba(9, 5, 9, 0.848);
}

h2{
    width:100%;
    font-weight: 600;
    font-family: 'Dancing Script', cursive;
    font-family: 'Young Serif', serif;
    text-align: center;
    color: #294260;
    font-size: 1.75em;
    margin-bottom: 10px;
}

#input_btn{
    position: relative;
    width: 100%;
    border: none;
    outline:none;
    padding: 15px 20px;
    border-radius: 30px;
    font-size: 1em;
    box-shadow:5px 5px 7px rgba(0, 0, 0, 0.573);
    background: bisque;
}

.box li{
    position: relative;
    display: flex;
    width: 90%;
    align-items: center;
    background: #294260;
    margin: 15px 0;
    padding: 10px 10px 10px 45px;
    min-height: 45px;
    cursor: pointer;
    color: #fff;
    border-radius: 22.5px;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.532);
}

.box li i{
    position: absolute;
    width: 30px;
    right:-40px;
    height:30px;
    background: rgb(39, 68, 68);
    display: flex;
    justify-content: center;
    align-items:center;
    border-radius: 50%;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.532);
}

.box li i::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 2px;
    background: #fff;
    transform: rotate(45deg);
}

.box li i::after{
    content: '';
    position: absolute;
    width: 15px;
    height: 2px;
    background: #fff;
    transform: rotate(-45deg);
}

.box li::before{
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    left:8px;
    background: rgba(8, 104, 159, 0.849);
    border-radius: 50%;
}

#list{
    position: relative;
    margin-top: 20px;
    height: 350px;
    overflow-y: auto;
    padding-right: 10px;
}

::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background: #161515;
}